<div class="container-fluid">
    <header class="header bg-success text-white d-flex justify-content-between">
        <h1 class="header-title">
            Dashboard Admin
        </h1>
        <button class="btn btn-danger btn-sm" (click)="logout()">Log out</button>
    </header>

    <div class="row g-0">
        <nav id="sidebar" class="col-md-2 col-lg-2 d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link " routerLink="orders">
                            <i class="fab fa-first-order icon"></i> Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="categories">
                            <i class="fab fa-canadian-maple-leaf icon"></i> Categories
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="products">
                            <i class="fab fa-codepen icon"></i> Products
                        </a>
                    </li>
                </ul>
            </div>

        </nav>

        <div class="col-md-10 col-lg-10 overflow-auto p-4">
            <!-- <ng-container [ngSwitch]="adminComponent">
                <app-order-admin *ngSwitchCase="'orders'"></app-order-admin>
                <app-category-admin *ngSwitchCase="'categories'"></app-category-admin>
                <app-product-admin *ngSwitchCase="'products'"></app-product-admin>
            </ng-container> -->
            <router-outlet></router-outlet>
        </div>
    </div>