@import '../../styles/shared-style.scss';

.intro-section {
    text-align: center;
    color: $shopapp-header-color;
    padding: 20px;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}


// Custom select box
.product-category {
    width: 200px;
    border-radius: 8px;
    background-color: $shopapp-background-color;
    padding: 8px 16px;
    
}

// Style option (chỉ hỗ trợ một số trình duyệt)
.product-category option {
    color: #000;
    background-color: #fff;
    border-radius: 12px;
    padding: 8px 12px;
}

// Trick: Nếu muốn option đang chọn nổi bật hơn, có thể dùng [selected] nhưng chỉ hỗ trợ một số trình duyệt
.product-category option:checked {
    background-color: $shopapp-tint-color;
    color: #fff;
    border-radius: 12px;
}

.search-input {
    width: 300px;
    background-color: $shopapp-background-color;
    margin-right: 10px;
    border-color: rgba(255, 255, 255, 0.5);
    color: white;
}

// Hiệu ứng cho select box khi đã chọn category (không phải tất cả)
.product-category.selected {
    background-color: $shopapp-tint-color;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 0 2px $shopapp-color;
}

.form-control {
    background-color: transparent;
    color: white;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.5);
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.5);
}

.product-item {
    background-color: $shopapp-background-color;
    border: 1px solid rgb(35, 39, 61);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.product-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-name {
    color: white;
}

.product-description {
    color: rgb(173, 178, 203);
}

.product-warranty {
    color: $shopapp-tint-color;
}

.product-price {
    color: white;
}

.product-rating {
    color: #FFD700;
    margin-top: 10px;
}

.product-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.space-x {
    margin: 0 5px;
    /*margin-top, margin-right, margin-bottom, margin-left*/
}

.search-btn {
    background-color: $shopapp-color;
    color: white;
    margin-left: 5vh;
}