server:
  port: 8088
spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/udemy_shopapp?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: ${MYSQL_ROOT_PASSWORD:123456} # Không có biến môi trường thì dùng 123456 làm mặc định
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  messages:
      basename: i18n/messages
      encoding: UTF-8
      default-locale: en
api:
  prefix: api/v1
jwt:
  expiration: 2592000
  secretKey: Cc0jyWLMnCsPDuQ7+S/v2y3xcasP6pfxzYQ7iVAOaew=


logging:
  level:
    org.springframework.security : DEBUG