@import '../../styles/shared-style.scss';

header {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(173, 178, 203);
}

.navbar {
    background-color: rgba(0, 0, 0, 0) !important;
}

.navbar .container {
    background-color: rgba(0, 0, 0, 0) !important;
}

.navbar .container .navbar-nav .nav-link {
    color: rgb(173, 178, 203);
    border-radius: 18px;
    padding: 8px 16px;
}

.nav-link:hover {
    background-color: $shopapp-color !important;
    color: white !important;
    cursor: pointer;
    transition: 100ms;
}


.navbar .container .navbar-nav .nav-link.active {
    background-color: $shopapp-color !important;
    color: white !important;
}

.popover-list {
    padding: 10px;
}

.popover-item {
    display: block;
    margin-bottom: 10px;
    padding: 5px 15px;
    text-decoration: none;
    color: #000;
    text-align: center;
    border-radius: 8px;
}

.popover-item.text-danger {
    color: red;
}

.popover-item:hover {
    background-color: #f0f0f0;
    color: $shopapp-color;
    cursor: pointer;
}