@import '../../styles/shared-style.scss' ;



.intro-section {
    color: $shopapp-header-color;
    padding: 20px;
    text-align: center;
}

.form-control {
    background-color: $shopapp-background-color;
    border: 1px solid rgb(29, 33, 54);
    color: white;
}

.form-control:focus {
    border-color: white;
    background-color: $shopapp-background-color;
}

.form-label {
    color: white;
}

.product-order , .product-header{
    color: $shopapp-tint-color;
} 

.btn-gradient {
    background: linear-gradient(to right, rgb(225, 64, 180), rgb(126, 43, 237));
    color: white;
    border-radius: 30px;
    width: 200px;
    margin-top: 15px;
}

